#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* map 6 extra keys */
#define X_LT  &kp TAB
#define X_LM  &kp LSHIFT
#define X_LB  &kp LSHIFT
#define X_RT  &kp LEFT_BRACKET
#define X_RM  &kp RETURN
#define X_RB  &kp RETURN

#define XXX &none
#define ___ &trans

#define COMBO_TIMEOUT 60

#define DEF 0
#define NAV 1
#define FN 2
#define IOS 3
#define SYS 4

/ {
    macros {
	nayeon: nayeon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap_time 10>
		,<&macro_tap &kp N &kp A &kp Y &kp E &kp O &kp N>
        ;
        };
    };
};
/ {
    combos {
        compatible = "zmk,combos";
	 combo_cw {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <6 30>;
            bindings = <&nayeon>;
        };
    };
};
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};

/ {
    behaviors {
        go_up: grave_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp I>, <&kp UP_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_down: grave_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp DOWN_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_right: grave_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp RIGHT_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_left: grave_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp LEFT_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};



/ {
        keymap {
                compatible = "zmk,keymap";

                DEF_layer {
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT     &lt NAV Q      &lt FN W       &kp E          &kp R         &kp T                    &kp Y         &kp U         &kp I         &kp O       &lt FN P      X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM     &kp A          &kp S         &kp D           &kp F        &kp G                    &kp H          &kp J        &kp K         &kp L        &kp BACKSPACE     X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB      &kp Z         &kp X        &kp C          &kp V        &kp B                    &kp N         &kp M         &kp COMMA     &kp DOT      &kp SLASH       X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                         &kp LEFT_COMMAND  &kp SPC   &kp SPC                   &kp ENTER     &lt NAV SEMI    &kp SINGLE_QUOTE
//                                     ╰────────────┼──────────────┴─────────────╯           ╰─────────────┴─────────────┼─────────────╯
                        >;
                };

                NAV_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT     &kp EXCLAMATION &lt FN AT_SIGN  &kp HASH     &kp DOLLAR    &kp PERCENT     &kp CARET    &kp AMPERSAND  &kp ASTERISK   &kp LPAR   &lt FN RPAR     X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9     ___         X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB     &kp GRAVE     &kp TILDE     &kp NUMBER_0   &kp PLUS      &kp MINUS      &kp UNDERSCORE  &kp EQUAL      ___           &tog DEF      &tog IOS     X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                            ___           ___           ___             ___           ___          ___
//                                     ╰────────────┼──────────────┴─────────────╯   ╰─────────────┴─────────────┼─────────────╯
                        >;
                };

                FN_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT     &kp F12       &kp F7        &kp F8        &kp F9        ___                      ___           &kp C_PREV    &kp C_VOL_UP  &kp C_NEXT    ___             X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM     &kp F11       &kp F4        &kp F5        &kp F6        ___                      ___           ___           ___           ___           ___             X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB     &kp F10       &kp F1        &kp F2        &kp F3        ___                      ___           ___           ___           ___           ___             X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
    ___                                                ___           ___                      ___           ___                                                  ___
//╰──────╯                                           ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯                                           ╰──────╯
                        >;
		};
		
		IOS_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT       ___            ___           ___          ___             ___            ___            ___           &go_up          ___      &lt FN P        X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM      ___            ___           ___          ___             ___            ___            &go_left      &go_down    &go_right       ___           X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB      ___            ___           ___          ___             ___            ___            ___         ___              ___           ___          X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                         ___           ___           ___                ___       &lt NAV NUMBER_2  &kp NUMBER_3
//                                     ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┼─────────────╯
                        >;
		};

        		SYS_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT    &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_CLR              ___           ___       ___           ___           ___       X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM     ___           ___           ___           &kp T         &bootloader     &bootloader   &kp T          ___           ___           ___             X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB     ___           ___           ___           ___           &sys_reset       &sys_reset    ___           ___           ___           ___           X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
    ___                                                ___           ___                      ___           ___                                                       ___
//╰──────╯                                           ╰─────────────┴─────────────╯ ╰─────────────┴─────────────╯                                           ╰──────╯
                        >;
		};
        };
};
