#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* map 6 extra keys */
#define X_LT  &kp TAB
#define X_LM  &kp LSHIFT
#define X_LB  &none
#define X_RT  &kp LEFT_BRACKET
#define X_RM  &kp RETURN
#define X_RB  &dancetonav

#define XXX &none
#define ___ &trans

#define COMBO_TIMEOUT 100

#define DEF 0
#define NAV 1
#define FN 2
#define IOS 3
#define SYS 4



/ {
    combos {
        compatible = "zmk,combos";
	 combo_PLUS {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <6 40>;
            bindings = <&kp PLUS>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_7 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <7 40>;
            bindings = <&kp NUMBER_7>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_8 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <8 40>;
            bindings = <&command_8>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_9 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <9 40>;
            bindings = <&kp NUMBER_9>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_MINUS {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <18 40>;
            bindings = <&kp MINUS>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_4 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <19 40>;
            bindings = <&command_4>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_5 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <20 40>;
            bindings = <&command_5>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_6 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <21 40>;
            bindings = <&command_6>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_EQUAL {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <30 40>;
            bindings = <&kp EQUAL>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_1 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <31 40>;
            bindings = <&kp NUMBER_1>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_2 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <32 40>;
            bindings = <&kp NUMBER_2>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_NUMBER_3 {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <33 40>;
            bindings = <&kp NUMBER_3>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_DOT {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <34 40>;
            bindings = <&kp DOT>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_EXCLAMATION {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <1 40>;
            bindings = <&kp EXCLAMATION>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_AT_SIGN {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <2 40>;
            bindings = <&kp AT_SIGN>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_BACKSLASH {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <3 40>;
            bindings = <&kp BACKSLASH>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
	 combo_COLON {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <5 40>;
            bindings = <&kp COLON>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_HASH {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <13 40>;
            bindings = <&kp HASH>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_DOLLAR {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <14 40>;
            bindings = <&kp DOLLAR>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
	 combo_UNDERSCORE {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <15 40>;
            bindings = <&kp UNDERSCORE>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
	 combo_DOUBLE_QUOTES {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <17 40>;
            bindings = <&kp DOUBLE_QUOTES>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_CARET {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <25 40>;
            bindings = <&kp CARET>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_AMPS {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <26 40>;
            bindings = <&kp AMPS>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
	 combo_PERCENT {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <27 40>;
            bindings = <&kp PERCENT>;
        };
    };
};


/ {
    combos {
        compatible = "zmk,combos";
	 combo_SINGLE_QUOTE {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <29 40>;
            bindings = <&kp SINGLE_QUOTE>;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};

/ {
    behaviors {
        go_up: go_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp I>, <&kp UP_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_up: go_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp I>, <&kp UP_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};


/ {
    behaviors {
        go_down: go_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp DOWN_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_right: go_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp RIGHT_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_left: go_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp LEFT_ARROW>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_page_up: go_page_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp PAGE_UP>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_page_down: go_page_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp PAGE_DOWN>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        command_4: command_4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_4>, <&kp LG(LEFT_ARROW)>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        command_8: command_8 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_8>, <&kp LG(UP_ARROW)>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        command_5: command_5 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_5>, <&kp LG(DOWN_ARROW)>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        command_6: command_6 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_6>, <&kp LG(RIGHT_ARROW)>;
            mods = <(MOD_LGUI)>;
        };
    };
};


/ {
    behaviors {
        go_option: go_option {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt NAV SEMI>, <&kp LEFT_ALT>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_ctrl: go_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp LCTRL>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        go_caps: go_caps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp CAPS>;
            mods = <(MOD_LGUI)>;
        };
    };
};

/ {
    behaviors {
        bspc_del: bspc_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT)>;
        };
    };
};

/ {
    macros {
        go_iPhone: go_iPhone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_SEL 1>
                , <&tog IOS>
                ;
        };
    };
};

/ {
    macros {
        go_mac: go_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_SEL 0>
                , <&to 0>
                ;
        };
    };
};

/ {
    macros {
         go_vision: go_vision {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_SEL 2>
                , <&tog IOS>
                ;
        };
    };
};

/ {
    macros {
         go_ipad: go_ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_SEL 3>
                , <&tog IOS>
                ;
        };
    };
};

/ {
    macros {
         go_win: go_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&bt BT_SEL 4>
                , <&to 0>
                ;
        };
    };
};

// 下面是Notion快捷键

/ {
    behaviors {
        notion_h1: notion_h1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp LG(LA(NUMBER_1))>;
            mods = <(MOD_LALT)>;
        };
    };
};



/ {
    behaviors {
        notion_h2: notion_h2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp S>, <&kp LG(LA(NUMBER_2))>;
            mods = <(MOD_LALT)>;
        };
    };
};

/ {
    behaviors {
        notion_h3: notion_h3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp LG(LA(NUMBER_3))>;
            mods = <(MOD_LALT)>;
        };
    };
};

/ {
    behaviors {
        notion_h0: notion_h0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp LG(LA(NUMBER_0))>;
            mods = <(MOD_LALT)>;
        };
    };
};

/ {
    behaviors {
        tonav: tonav {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&tog NAV>;
            mods = <(MOD_LALT)>;
        };
    };
};

/ {
    behaviors {
        dancetonav: dancetonav {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&tog NAV>;
        };
    };
};

/ {
    behaviors {
        comma_nav: comma_nav {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&tog NAV>;
        };
    };
};

/ {
    behaviors {
        dance_tilde: dance_tilde {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&kp TILDE>;
        };
    };
};


/ {
    behaviors {
        dance_LBRC: dance_LBRC {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };
    };
};

/ {
    behaviors {
        dance_LPAR: dance_LPAR {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };
    };
};

/ {
    behaviors {
        dance_LBKT: dance_LBKT {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };
    };
};

/ {
    behaviors {
        dance_COLON: dance_COLON {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COLON>, <&kp SEMICOLON>;
        };
    };
};



/ {
        keymap {
                compatible = "zmk,keymap";

                DEF_layer {
                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    &kp TAB   &lt NAV Q      &lt FN W       &kp E          &kp R         &kp T                  &go_page_up   &kp U          &go_up      &kp O        &lt FN P      &kp DELETE
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
  &kp LSHIFT  &notion_h1     &notion_h2   &notion_h3    &notion_h0        &kp G                &go_page_down   &go_left      &go_down     &go_right   &kp BACKSPACE &kp ENTER
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
  &dance_tilde  &kp Z        &kp X        &kp C          &kp V          &kp B                     &kp N         &kp M      &kp COMMA      &kp DOT      &kp SLASH      &dancetonav
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤           ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                      &mt LEFT_ALT ESC  &kp LEFT_COMMAND  &kp SPC               &kp ENTER    &lt NAV NUMBER_2  &mt LCTRL NUMBER_3
//                                     ╰────────────┼──────────────┴─────────────╯           ╰─────────────┴─────────────┼─────────────╯
                        >;
                };

                NAV_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___      &kp EXCLAMATION &kp AT_SIGN  &kp BACKSLASH  &dance_LBRC  &dance_COLON     &kp PLUS     &kp NUMBER_7  &command_8   &kp NUMBER_9  &lt FN ASTERISK  &kp SLASH
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___      &kp HASH     &kp DOLLAR   &kp UNDERSCORE  &dance_LPAR  &kp DOUBLE_QUOTES  &kp MINUS    &command_4   &command_5     &command_6        ___            ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
   &kp GRAVE  &kp CARET    &kp AMPS       &kp PERCENT  &dance_LBKT &kp SINGLE_QUOTE    &kp EQUAL    &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3   &kp DOT     &comma_nav
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                         ___             ___           ___             ___           ___         &kp NUMBER_0
//                                     ╰────────────┼──────────────┴─────────────╯   ╰─────────────┴─────────────┼─────────────╯
                        >;
                };

                FN_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___     &kp F12       &kp F7        &kp F8        &kp F9        ___              &kp HOME      &kp K_POWER     ___             ___         ___          ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___     &kp F11       &kp F4        &kp F5        &kp F6        ___               &kp END      &kp C_POWER   &kp C_PREV  &kp C_PLAY_PAUSE &kp C_NEXT    ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___     &kp F10       &kp F1        &kp F2        &kp F3        ___             &kp C_BRI_UP   &kp C_BRI_DN  &kp C_MUTE  &kp C_VOL_UP  &kp C_VOLUME_DOWN  ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                            ___          ___          ___            ___           ___           ___
//                                     ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
                        >;
		};

		IOS_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    ___       ___            ___           ___          ___             ___            ___            ___          ___            ___         ___          ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___      ___            ___           ___          ___             ___            ___            ___          ___              ___         ___           ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    ___      ___            ___           ___          ___             ___            ___            ___          ___              ___         ___         ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                         ___           ___           ___                ___           ___          ___
//                                     ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┼─────────────╯
                        >;
		};

        		SYS_layer {

                        bindings = <
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR     &bt BT_NXT   &bt BT_PRV      ___           ___           ___       ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
  &bt BT_DISC 0  &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4  &bootloader  &bootloader   &kp T          ___           ___           ___           ___
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
   &go_mac   &go_iPhone     &go_vision    &go_ipad      &go_win      &sys_reset       &sys_reset    ___           ___           ___           ___           ___
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
                                           &tog IOS      &tog NAV       ___            ___           ___             ___
//                                      ╰─────────────┴────────────┴─────────────╯ ╰─────────────┴──────────────┴─────────────╯
                        >;
		};
        };
};